.Ball{
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: rgb(224, 46, 22);
  color: whitesmoke;
  font-size: 1rem;
  font-weight: 900;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}